@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Neucha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root,
:host,
.sl-theme-light {
    --color-primary: #f8f8f2;
    --color-secondary: #282a36;
    --color-tertiary: #e5e5e5;
    --color-purple-primary: #6F2DBD;
    --color-purple-secondary: #B298DC;
    --color-blue-primary: #B8D0EB;
    --color-blue-secondary: #B9FAF8;

    --font-family-serif: 'Neucha', cursive;
    --font-family-sans-serif: 'Lato', sans-serif;

    /* Change primary theme colour to --color-purple-primary. */
    --sl-color-primary-50: rgb(251 249 253);
    --sl-color-primary-100: rgb(240 234 248);
    --sl-color-primary-200: rgb(229 217 243);
    --sl-color-primary-300: rgb(217 200 238);
    --sl-color-primary-400: rgb(201 176 230);
    --sl-color-primary-500: rgb(179 145 220);
    --sl-color-primary-600: rgb(156 111 210);
    --sl-color-primary-700: rgb(135 80 200);
    --sl-color-primary-800: rgb(116 52 191);
    --sl-color-primary-900: rgb(84 34 143);
    --sl-color-primary-950: rgb(52 21 89);
}

:host,
.sl-theme-dark {
    --color-primary: #282a36;
    --color-secondary: #f8f8f2;
    --color-tertiary: #44475a;
    --color-purple-primary: #331559;
    --color-purple-secondary: #bd93f9;
}

/* || General Styles ...................................................... */

html {
    scroll-behavior: smooth;
    background-color: var(--color-purple-primary);
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--font-family-sans-serif);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    padding: var(--sl-spacing-large);
}

h1 {
    text-align: center;
    font-size: 400%;
}

h2 {
    display: none;
}

a {
    text-decoration: none;
}

/* ........................................................................ */

/* || Header and Main Navigation .......................................... */

header, nav, .header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img, nav img {
    width: 100px;
}

    /* Code sourced and adapted from:
       https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
       https://stackoverflow.com/questions/17900122/stretch-child-div-height-to-fill-parent-that-has-dynamic-height
       https://stackoverflow.com/questions/26349987/how-do-i-apply-a-style-to-all-children-of-an-element
    */

nav {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    color: var(--color-blue-primary);
    background-color: var(--color-purple-primary);
    overflow: hidden; /* Disable scrolling for content. */
    transition: .7s;
    z-index: var(--sl-z-index-tooltip);
}

nav sl-icon-button {
    color: var(--sl-color-primary-900);
}

nav ul {
    list-style: none;
    padding: var(--sl-spacing-large);
    min-width: 500px;
    font-size: 300%;
}

    /* Code sourced and adapted from:
       https://stackoverflow.com/questions/13397135/stretch-list-items-li-to-fill-the-width-of-ul
    */

nav ul li {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    padding: var(--sl-spacing-large) 0;
    flex: 1; /* Set flex-grow to grow the element to the size of its parent. */
    transition: .7s;
    color: var(--sl-color-primary-900);
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: var(--color-blue-primary);
}

nav span {
    padding: var(--sl-spacing-large);
    font-size: 90%;
    text-align: center;
}

/* ........................................................................ */

/* || Custom Classes ...................................................... */

.header, .footer {
    position: absolute;
    width: 100vw;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.hidden {
    display: none;
}

/* ........................................................................ */

/* || Shoelace Custom HTML tags ........................................... */

sl-icon-button {
    font-size: 180%;
    padding: var(--sl-spacing-large);
}

.icon-button::part(base):hover, .icon-button::part(base):active, .icon-button::part(base):focus {
    color: var(--color-blue-primary);
}

sl-carousel, sl-switch {
    padding: var(--sl-spacing-large);
}

.switch-off::part(control) {
    background-color: var(--color-purple-primary);
    border-color: var(--color-blue-primary);
}

.switch-on::part(control) {
    background-color: var(--color-blue-primary);
    border-color: var(--color-blue-primary);
}

.switch-off::part(thumb), .switch-on::part(thumb) {
    background-color: var(--color-purple-primary);
    border-color: var(--color-blue-primary);
}

sl-carousel img {
    border-radius: 1px;
}

/* ........................................................................ */